%tr{ 'data-daily-id' => daily.id }
  %td
    = link_to daily.goal.name, web_v1_goal_path(daily.goal)
  %td
    = daily.value
    = link_to increment_web_v1_daily_path(daily), method: :patch, remote: true do
      %i.fas.fa-plus-square
    = link_to decrement_web_v1_daily_path(daily), method: :patch, remote: true do
      %i.fas.fa-minus-square
  %td
    = "#{daily.goal.enum_display(:aim)} #{daily.goal.limit}"
  %td{ class: "daily-row-#{daily.status}" }
    - case daily.status
    - when 'pending'
      %i.fas.fa-spinner
    - when 'failed'
      %i.fas.fa-times-circle
    - when 'success'
      %i.fas.fa-check-circle
  %td
    - if daily.incentive.present?
      = link_to daily.incentive.name, web_v1_incentive_path(daily.incentive)
    = link_to edit_incentive_web_v1_daily_path(daily), remote: true do
      %i.fas.fa-edit
    - if daily.incentive.present?
      = link_to toggle_incentive_status_web_v1_daily_path(daily), method: :patch, remote: true do
        - if daily.incentive_status_success?
          %i.far.fa-check-square
        - else
          %i.far.fa-square
