- if current_web_v1_user
  .row
    .col-lg-6.col-12.dailies-section
      .row
        .col
          %h3
            = t('dashboard.today')
      .row
        .col
          - @today_dailies.each do |daily|
            = render partial: 'web/v1/dailies/item', object: daily, as: 'daily'
    .col-lg-6.col-12.dailies-section
      .row
        .col-6
          %h3
            = t('dashboard.yesterday')
        .col-6
          = link_to t('dashboard.freeze'),
                    freeze_web_v1_dailies_path,
                    class: 'btn btn-primary',
                    method: :patch,
                    role: 'button'
      .row
        .col
          - @yesterday_dailies.each do |daily|
            = render partial: 'web/v1/dailies/item', object: daily, as: 'daily'
