- if current_web_v1_user
  .row
    .col-lg-6.col-12.dailies-section
      .row
        .col
          %h3
            = t('dashboard.today')
      .row
        .col
          - @today_dailies.each do |daily|
            = render partial: 'web/v1/dailies/item', object: daily, as: 'daily'
    .col-lg-6.col-12.dailies-section
      .row
        .col-6
          %h3
            = t('dashboard.yesterday')
        .col-6
          = link_to t('dashboard.freeze'),
                    freeze_web_v1_dailies_path,
                    class: 'btn btn-primary',
                    method: :patch,
                    role: 'button'
      .row
        .col
          - @yesterday_dailies.each do |daily|
            = render partial: 'web/v1/dailies/item', object: daily, as: 'daily'

  .row
    .col.stats-section
      %h3
        = t('dashboard.stats')
  - @stats.each do |goal_id, dailies|
    .row.stats-row
      .col-lg-2.col-4.stats-goal-name
        = link_to dailies[:name], web_v1_goal_path(goal_id)
      - (0..9).to_a.reverse.each do |i|
        - date = i.days.ago.to_date
        - daily = dailies[date.strftime('%d%m')]
        .stats-day{ class: "stats-#{daily.try(:[], :status) || 'pending'} stats-incentive-#{daily.try(:[], :incentive_status) || 'none'}",
                    'data-toggle' => 'tooltip',
                    'data-placement' => 'top',
                    'title' => date.strftime('%d.%m') }
