.form
  = form_with model: @goal, url: web_v1_goal_path(@goal), local: true do |f|
    = render partial: 'web/v1/shared/form_errors', locals: { object: @goal }
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :aim
      = f.select :aim, Goal.aim_options_for_select, {}, class: 'form-control'
    .form-group
      = f.label :limit
      = f.number_field :limit, min: 0, step: 1, class: 'form-control'
    .form-group
      = f.label :period
      = f.select :period, Goal.period_options_for_select, {}, class: 'form-control'
    .form-group
      = f.label :size
      = f.select :size, Goal.size_options_for_select, {}, class: 'form-control'
    .form-group
      = f.label :auto_reactivate_every_n_days
      = f.number_field :auto_reactivate_every_n_days, min: 2, step: 1, class: 'form-control'
    .form-group
      = f.label :auto_reactivate_start_from
      = f.date_field :auto_reactivate_start_from, class: 'form-control'
    .form-group
      = f.label :incentive
      = f.select :incentive,                                                 |
                 options_for_select(                                         |
                   @goal                                                     |
                     .user                                                   |
                     .incentives                                             |
                     .order(Arel.sql("ABS(incentives.size - #{Goal.sizes[@goal.size]}) ASC, name ASC"))  |
                     .pluck(:name, :id),                                     |
                   selected:  @goal.incentive&.id                            |
                 ),                                                          |
                 { include_blank: true },                                    |
                 class: 'form-control'                                       |
    .form-group
      = f.submit t('goals.update'), class: 'btn btn-primary'
