.container
  .row
    - if @goal.period_once? && @goal.is_completed
      .col-lg-2.col-4
        = link_to t('goals.reactualize'),
                  reactualize_web_v1_goal_path(@goal),
                  class: 'btn btn-primary button-above-table',
                  role: 'button',
                  method: :patch
    .col-lg-2.col-4
      = link_to t('goals.edit'),
                edit_web_v1_goal_path(@goal),
                class: 'btn btn-primary button-above-table',
                role: 'button'
    .col-lg-2.col-4
      = link_to t('goals.delete'),
                web_v1_goal_path(@goal),
                class: 'btn btn-primary button-above-table',
                role: 'button',
                method: :delete,
                data: { confirm: t('goals.delete_confirm') }
  .row
    .col-lg-2.col-4
      = Goal.human_attribute_name(:name)
    .col-lg-10.col-8
      %strong
        = @goal.name
  .row
    .col-lg-2.col-4
      = Goal.human_attribute_name(:aim)
    .col-lg-10.col-8
      %strong
        = @goal.display_aim
  .row
    .col-lg-2.col-4
      = Goal.human_attribute_name(:limit)
    .col-lg-10.col-8
      %strong
        = @goal.limit
  .row
    .col-lg-2.col-4
      = Goal.human_attribute_name(:period)
    .col-lg-10.col-8
      %strong
        = @goal.display_period
  .row
    .col-lg-2.col-4
      = Goal.human_attribute_name(:size)
    .col-lg-10.col-8
      %strong
        = @goal.display_size
  .row
    .col-lg-2.col-4
      = Goal.human_attribute_name(:incentive)
    .col-lg-10.col-8
      %strong
        - if @goal.incentive.present?
          = link_to @goal.incentive.name, web_v1_incentive_path(@goal.incentive)
